
#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 22vh 400px ;
  overflow: hidden;
  background: #000000;
}
#contact .form button[type="submit"] {
  background: red;
  border: 0;
  border-radius: 30px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}

